footer.companyInfo
  h2.h-hidden Footer
  .companyInfo__container
    ul.companyInfo__networks
      li.companyInfo__network: a(href="#").companyInfo__data: i(aria-hidden="true").companyInfo__networkIcon.fa-facebook
      li.companyInfo__network: a(href="#").companyInfo__data: i(aria-hidden="true").companyInfo__networkIcon.fa-google
      li.companyInfo__network: a(href="#").companyInfo__data: i(aria-hidden="true").companyInfo__networkIcon.fa-linkedin
      li.companyInfo__network: a(href="#").companyInfo__data: i(aria-hidden="true").companyInfo__networkIcon.fa-twitter
    .companyInfo__contact
      p: a(href="tel:+180023456789").companyInfo__telephone 800-2345-6789
      address.companyInfo__address My Company, 4578 Marmora Road, Glassgow D04 89GR
      p: a(href="mailto:info@demolink.org?subject=Feedback&body=Message").companyInfo__data.companyInfo__email info@demolink.org

    p.companyInfo__privacyPolicy
      img(src="images/logo-light.png", alt="Effective IT Solutions").companyInfo__logo
      a(href="/privacy-policy").companyInfo__copyright.companyInfo__data Privacy policy
