head
  title Effective IT Solutions
  meta(charset="UTF-8")
  meta(title="Effective IT Solutions")
  meta(name="description", content="Sample project")
  meta(name="keywords", content="IT Solutions")
  meta(name="author", content="Carlos Lobo")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="stylesheets/style.css")
  link(rel="shortcut icon", type="image/png", href="favicon.ico")
