nav.navBar
  h2.h-hidden Navigation Menu
  ul.navBar__links
    li.navBar__item.navBar__item--active: a(href="/").navBar__link Home
    li.navBar__item.navBar__item--inactive: a(href="#").navBar__link About us
    li.navBar__item.navBar__item--inactive: a(href="#").navBar__link Services
    li.navBar__item.navBar__item--inactive: a(href="#").navBar__link Contacts
    li.navBar__item.navBar__item--inactive: a(href="/privacy-policy").navBar__link Privacy policy
