nav#js-navDrawer.navDrawer
  h2.h-hidden Navigation Menu Drawer
  ul.navDrawer__links
    li.navDrawer__item: a.navDrawer__link(href="/") Home
    li.navDrawer__item: a.navDrawer__link(href="#") About us
    li.navDrawer__item: a.navDrawer__link(href="#") Services
    li.navDrawer__item: a.navDrawer__link(href="#") Contacts
    li.navDrawer__item: a.navDrawer__link(href="/privacy-policy") Privacy policy
