svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='66px', height='66px', viewbox='0 0 66 66', style='enable-background:new 0 0 66 66;', xml:space='preserve')
  g
    g
    g: path(d='M50.568,66H15.432C11.609,66,8.5,62.891,8.5,59.068c0-0.036,0.001-0.071,0.003-0.107L10.5,21.873\
      C10.532,18.078,13.628,15,17.432,15h31.136c3.804,0,6.899,3.078,6.933,6.873l1.997,37.088c0.002,0.036,0.003,0.071,0.003,0.107\
      C57.5,62.891,54.39,66,50.568,66z M12.5,59.115C12.524,60.71,13.831,62,15.432,62h35.136c1.602,0,2.906-1.29,2.933-2.885\
      l-1.997-37.076c-0.002-0.036-0.003-0.071-0.003-0.107c0-1.616-1.315-2.932-2.933-2.932H17.432c-1.616,0-2.932,1.315-2.932,2.932\
      c0,0.036-0.001,0.071-0.003,0.107L12.5,59.115z')
    g
      g
      path(d='M18.461,40c-0.018,0-0.035,0-0.054,0c-0.551,0-0.975-0.623-0.946-1.176l0.039-0.809\
      c0.029-0.551,0.472-1.002,1.052-0.977c0.551,0.029,0.975,0.484,0.946,1.036l-0.039,0.86C19.432,39.471,18.99,40,18.461,40z')
      g
      path(d='M17.5,58c-0.018,0-0.036,0-0.054-0.001c-0.552-0.029-0.975-0.5-0.946-1.052l0.792-15.038\
      c0.029-0.552,0.497-0.984,1.052-0.946c0.552,0.029,0.975,0.5,0.946,1.053l-0.792,15.037C18.471,57.586,18.028,58,17.5,58z')
    g: path(d='M41.88,19c-1.104,0-2-0.896-2-2V6.077C39.88,4.699,38.568,4,36.734,4h-7.137c-0.727,0-2.717,0.149-2.717,2.077V17\
      c0,1.104-0.896,2-2,2s-2-0.896-2-2V6.077C22.88,2.499,25.418,0,29.598,0h7.136c4.048,0,7.146,2.442,7.146,6.077V17\
      C43.88,18.104,42.984,19,41.88,19z')
