extends ../layout.pug

block content
  div: p Home/About us

  section
    h2 Why us
    p: img(src="http://placehold.it/350x150", alt="")
    p Effective IT Solutions understands that every business is unique, and because of this we offer support options that can be personally tailored to suit your IT needs.
    p Our standard support contract gives the customer a guaranteed time period to receive a response for his/her support request. The standard on-site response is offered within four hours, although for critical devices, this can be much faster. Through the use of remote access, most responses and resolutions occur within a matter of minutes. By using remote access and online monitoring, we are immediately informed when any problem occurs.
    p We also provide a pay-as-you-go support option that means you don’t have to worry about binding long-term contracts.
    p Read more

  section
    h2 Services
    ul
      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 Interface Design
        p Designing user-friendly and easy-to-follow interfaces.

      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 Mobile Apps
        p Providing users with the extensive experience of working on mobile projects on the go.

      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 Storytelling
        p Creating engaging stories that are both interactive and effective.

      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 Free Support
        p Providing 24/7 assistance without any hidden fees.

  section
    h2 Work team
    ul
      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 Eva Adamson
        p She is responsible for establishing high level of performance and offered services.
      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 David Austin
        p He is our Marketing Manager, responsible for promoting our products and services.
      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 Natalie Barnes
        p Natalie is our leading webmaster, who coordinates the work of our specialists.

      li
        p: img(src="http://placehold.it/350x150", alt="")
        h3 Thomas Bishop
        p Thomas is the CEO and Managing Director
  section
    h2 Our development
    ul
      li
        p: img(src="http://placehold.it/350x150", alt="")
        p Providing IT systems &amp; solutions.
      li
        p: img(src="http://placehold.it/350x150", alt="")
        p We know everything about IT technologies.
