extends ../layout.pug

block content
  //Breadcrumb
  div
    p Home/Services

  section
    h2 Services
    ul
      li: img(src="http://placehold.it/350x150")
      li: img(src="http://placehold.it/350x150")
      li: img(src="http://placehold.it/350x150")
      li: img(src="http://placehold.it/350x150")
      li: img(src="http://placehold.it/350x150")
